@tailwind base;
@tailwind components;
@tailwind utilities;

.main-gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(175, 98%, 92%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(200, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(64, 96%, 57%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(90, 60%, 44%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(400, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(30, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.65;
}
